.line {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.lineforCheckBox {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 0.1rem solid var(--white);
  border-radius: 0.5rem;
}
