.wrapper {
  display: block;
  position: relative;
}

/* .wrapper input[type='checkbox'] {
  position: absolute;
  top: .3rem;
  right: .3rem;
  
  width: 2rem;
  height: 2rem;
  border: .2rem solid var(--secondary-color);
  border-radius: .3rem;
  cursor: pointer;
}

.wrapper input[type='checkbox']:checked {
  background-color: var(--third-color);
} */

.cardCheckBox {
  display: block;
  position: relative;
}
.cardCheckBox input[type='checkbox'] {
  position: absolute;
  top: 0.5rem;
  left: 0.1rem;
  appearance: none;
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0;
  vertical-align: top;
  outline: none;
  transition: background 0.3s ease;
  background: url(./checkbox1.png) 0 0 no-repeat;
  background-size: contain;
  cursor: pointer;
}

.cardCheckBox input[type='checkbox']:checked {
  background-image: url(./checkbox2.png);
}

.focused input[type='checkbox'] {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.cardCheckBox input[type='checkbox']:hover {
  filter: brightness(110%);
}

/* Active */
.cardCheckBox input[type='checkbox']:active {
  filter: brightness(80%);
}
